{% extends "layout.html" %}
{% block content %}
    <div class="header-group">
        <h2>Logs</h2>
        <form method="post">
            <select name="rows">
                {% macro rows_option(number) -%}
                    {% if log_rows == number %}
                        <option value="{{ number }}" selected>{{ number }}
                            rows
                        </option>
                    {% else %}
                        <option value="{{ number }}">{{ number }} rows</option>
                    {% endif %}
                {%- endmacro %}

                {{ rows_option(3) }}
                {{ rows_option(5) }}
                {{ rows_option(10) }}
                {{ rows_option(30) }}
                {{ rows_option(100) }}
            </select>
            <button class="update" name="update-rows"
                    value="true">Update
            </button>
        </form>
    </div>
    <textarea readonly="true">{{ logs }}</textarea>
    <a name="admins"></a>
    <div class="header-group">
        <h2>Allowed Administrators</h2>
        <a href="{{ url_for('show_admin_edit_admins') }}#admins">Edit</a>
    </div>
    <div class="username-group-group">
        <div class="username-group">
            {% for admin in admins %}
                <div class="username"><span>{{ admin }}</span></div>
            {% else %}
                <div class="nodata">No administrators in the database.</div>
            {% endfor %}
        </div>
    </div>
    <form method="post">
        <a name="users"></a>
        <div class="header-group">
            <h2>Allowed Users</h2>
            <a href="{{ url_for('show_admin') }}#users">Done</a>
        </div>
        <div class="button-group">
            <button class="invisible-button" type="submit" name="add"
                    value="default action"/>
            <!-- There are newlines in weird places here because some browsers render
            whitespace-only text nodes in between the objects and screw up the spacing on
            the form controls -->
            <button class="red" name="delete">
                <span class="icon trash"></span>
            </button>
            <input type="text" name="new_users" placeholder="Add"
                   class="lozenge left"
            >
            <button class="green lozenge right" name="add"><span
                    class="icon plus"></span></button>
        </div>
        <div class="username-group-group">
            <div class="username-group">
                {% for user in users %}
                    <div class="username">
                        <input type="checkbox" name="{{ user }}">
                        <span>{{ user }}</span>
                    </div>
                {% else %}
                    <div class="nodata">No users in the database.</div>
                {% endfor %}
            </div>
        </div>
    </form>
{% endblock %}
