{% extends "layout.html" %}
{% block content %}
<div class="header-group">
    <h2>Logs</h2>
    <select>
        <option value="0.5">30 minutes</option>
        <option value="1">1 hour</option>
        <option value="2">2 hours</option>
        <option value="5">5 hours</option>
    </select>
</div>
<textarea readonly="true">{{ logs }}</textarea>
<div class="header-group">
    <h2>Allowed Administrators</h2>
    <a href="{{ url_for('show_admin_edit_admins') }}">Edit</a>
</div>
<div class="username-group-group">
    <div class="username-group">
        {% for admin in admins %}
        <div class="username"> <span>{{ admin }}</span> </div>
        {% endfor %}
    </div>
</div>
<form>
<div class="header-group">
    <h2>Allowed Users</h2>
    <a href="{{ url_for('show_admin') }}">Done</a>
</div>
<div class="username-group-group">
    <div class="username-group">
        {% for user in users %}
        <div class="username">
            <input type="checkbox" name="{{ user }}">
            <span>{{ user }}</span>
        </div>
        {% endfor %}
    </div>
</div>
<div class="button-group">
    <button class="red" name="delete">
        <img src="{{ url_for('static', filename='trash.svg') }}" alt="Delete">
    </button>
    <input type="text" name="new_admins" placeholder="Add" class="lozenge left">
    <button class="green lozenge right" name="add"> + </button>
</div>
</form>
{% endblock %}
