{% extends "layout.html" %}
{% block content %}
<div class="header-group">
    <h2>Logs</h2>
    <form>
        <select name="rows">
            <option value="3">3 rows</option>
            <option value="5">5 rows</option>
            <option value="10">10 rows</option>
            <option value="30">30 rows</option>
            <option value="100">100 rows</option>
        </select>
        <button name="update-rows" value="true">Update</button>
    </form>
</div>
<textarea readonly="true">{{ logs }}</textarea>
<form>
    <a name="admins"></a>
<div class="header-group">
    <h2>Allowed Administrators</h2>
    {% if admins|length > 0 %}
    <a href="{{ url_for('show_admin') }}#admins">Done</a>
    {% endif %}
</div>
    {% if admins|length > 0 %}
<div class="button-group">
    <!-- There are newlines in weird places here because some browsers render
    whitespace-only text nodes in between the objects and screw up the spacing on
    the form controls -->
    <button class="red" name="delete">
        <span class="icon trash"></span>
    </button>
    <input type="text" name="new_admins" placeholder="Add" class="lozenge left"
    ><button class="green lozenge right" name="add"><span class="icon plus"></span></button>
</div>
    {% endif %}
<div class="username-group-group">
    <div class="username-group">
        {% for admin in admins %}
        <div class="username">
            <input type="checkbox" name="{{ admin }}">
            <span>{{ admin }}</span>
        </div>
        {% else %}
        <div class="nodata">No administrators in the database.</div>
        {% endfor %}
    </div>
</div>
</form>
<a name="users"></a>
<div class="header-group">
    <h2>Allowed Users</h2>
    {% if users|length > 0 %}
    <a href="{{ url_for('show_admin_edit_users') }}#users">Edit</a>
    {% endif %}
</div>
<div class="username-group-group">
<div class="username-group">
    {% for user in users %}
    <div class="username"><span>{{ user }}</span></div>
    {% else %}
    <div class="nodata">No users in the database.</div>
    {% endfor %}
</div>
</div>
{% endblock %}
