{% extends "layout.html" %}
{% block content %}
    <h2>Help</h2>
    <p>
        Headcount is an application for the Rochester Institute of Technology's
        Software Engineering department. It was created by William Leuschner
        in the spring semester of 2017 to allow lab assistants to record how
        many
        people are using the team rooms and the Co-Lab, without having to write
        down
        a bunch of stuff on a clipboard.
    </p>
    <p>
        If you find any bugs, need assistance using the application, or have
        other
        comments, send me an e-mail to <a
            href="mailto:tech@se.rit.edu">tech@</a>
        and mention "Headcount" in the subject.
    </p>
    <p>
        Credits:
    </p>
    <ul>
        <li>Sean Sun&mdash;design assistance</li>
        <li><a href="https://rc3.club">RC3</a>&mdash;security testing</li>
        <li>Brendon Strowe&mdash;ITS liaison, who helped me get RIT's SSO
            system to work with this
        </li>
    </ul>
{% endblock %}
