<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Headcount</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="hero-bg">
<nav>
    <h1>Headcount</h1>
    <a class="login" href="#">Log In</a>
</nav>
<main>

    <h2>Headcount is a tool for taking headcounts in SE classrooms.</h2>
    <h3>Have an RIT ID? Click the button to log in.</h3>
    <div class="buttons">
        <!--a class="secondaryButton" href="#">About</a-->
        <a class="login" href="#">Log In</a>
    </div>
</main>
</body>
</html>
