#!/bin/sh
#
# $OpenBSD$

daemon="/usr/local/bin/uwsgi"

. /etc/rc.d/rc.subr

rc_stop() {
  ${rcexec} "${daemon} --stop /var/run/headcount.pid"
}

rc_reload() {
  ${rcexec} "${daemon} --reload /var/run/headcount.pid"
}

rc_cmd $1
