
html, body {
    font-family: "San Francisco Display", "SF UI Display", Helvetica Neue, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
}

p, a {
    font-family: "San Francisco Text", "SF UI Text", Helvetica Neue, Arial, sans-serif;
}

.hero-bg {
    background: #24C6DC; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top left, #24C6DC , #514A9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

nav {
    min-height: 42px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 2rem;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

nav:not(.hero-nav) {
    background-color: #FFFFFF;
    border-bottom: 1px solid #95989A;
    margin-bottom: 2rem;
}

nav.hero-nav {
    background-color: rgba(255,255,255, 0.67);
    margin-bottom: 13%;
}

nav label, nav input {
    display: none;
}

nav .buttons {
    list-style: none;
    margin: 12px 0 0 auto;
}

nav .buttons li {
    display: inline;
}

nav .buttons a {
    font-weight: 600;
    color: #24C6DC;
}

@media (max-width: 550px) {
    h1, nav h1 {
        font-size: 1.3rem;
    }

    main h2 {
        font-size: 1.1rem !important;
    }

    nav label {
        display: block;
        margin: 0.60rem -25px 0.60rem auto;
    }

    nav input[type=checkbox] {
        display: inline-block;
        opacity: 0;
    }

    nav .buttons {
        display: none;
    }

    nav input[type=checkbox]:checked ~ .buttons {
        display: block;
        position: absolute;
        top: 62px;
        left: 0;
        width: 100%;
        height: 6rem;
        z-index: 60;
    }

    nav input[type=checkbox]:checked ~ .buttons li {
        display: block;
        line-height: 2rem;
        border-bottom: 1px solid #95989A;
        background-color: #FFFFFF;
    }

    nav input[type=checkbox]:checked ~ .buttons li:first-child {
        border-top: 1px solid #95989A;
    }

    nav input[type=checkbox]:checked ~ .cover {
        display: block;
        position: absolute;
        left: 0;
        top: 74px;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 50;
        opacity: 0.4;
    }
}

main:not(.flexy) {
    margin-bottom: 2rem;
}

main.flexy {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #000;
}

a {
    text-decoration: none;
}

.hero-bg main h2 {
    font-size: 2.5rem;
    margin: 1rem 3rem calc(10% + 2rem) 3rem;
    font-weight: bold;
    text-align: center;
}

.hero-bg main h3 {
    font-size: 1.5rem;
    margin: 1rem 3rem calc(10% + 2rem) 3rem;
    font-weight: 500;
    text-align: center;
}

main h2 {
    font-size: 1.5rem;
    margin: 1.5rem 1.5rem 2rem;
    text-align: left;
    font-weight: 600;
}

main .buttons {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
            justify-content: space-around;
}

main p {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}

main ul {
    margin-left: 2rem;
    margin-right: 1.5rem;
}

main ul li {
    margin-bottom: 0.5rem;
}

.buttons a {
    margin: .5rem  1rem;
}

.buttons a:last-child {
    margin: .5rem 0 .5rem 1rem;
}

textarea {
    width: calc(100% - 4rem);
    height: 3rem;
    margin: 0 2rem;
}

.secondaryButton {
    padding: .7rem 2rem;
    border: 2px white solid;
    border-radius: 5px;
    color: white;
}

.login {
    padding: .7rem 2rem;
    border: 2px white solid;
    background: rgba(0,0,0,0);
    border-radius: 5px;
    color: white;
}

.login:hover {
    background: white;
    color: #24C6DC;
    transition: background .2s, color .2s;
}

nav .login {
    background-color: #24C6DC;
    border: 2px #24C6DC solid;
}

nav .login:hover {
    background-color: rgba(69, 127, 202, 0);
    color: #24C6DC;
}

/* 660px happens to be the width of the table */
@media (max-width: 660px) {
    .recent-table {
        display: block;
        overflow-x: scroll;
    }
}

.recent-table {
    width: 98%;
    margin: 0 auto;
}

.recent-table th {
    border-bottom: 1px solid #95989A;
}

td, th {
    padding: .8rem .3rem;
}

td.numeric-data {
    text-align: right;
    padding-right: .8rem;
}

td:not(:last-child) {
    border-right: 1px solid #95989A;
}

th:not(:last-child) {
    border-right: 1px solid #95989A;
}

form input[type="submit"] {
    background-color: #24C6DC;
    padding: .7rem 1.5rem;
    color: white;
    font-weight: bold;
    margin: 2rem auto 0;
    border-radius: 5px;
    border: none;
    -webkit-appearance: none;
    width: 107px;
    z-index: 1000;
}

.invisible-button {
    overflow: visible !important;
    height: 0 !important;
    width: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    display: block !important;
}

.new-count-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 98%;
    margin: 0 auto;
}

.new-count {
    max-width: 350px;
}

form input {
    font-family: "San Francisco Text", "SF UI Text", "Helvetica Neue", Arial, sans-serif;
}

div.col-2 {
    width: 49%;
    display: inline-block;
}

div.col-3 {
    width: 33%;
    display: inline-block;
}

div.col-23 {
    width: 66%;
    display: inline-block;
    }

div.col-4 {
    width: 25%;
    display: inline-block;
}

.flex-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label.steven {
    height: 32px;
    margin-bottom: 4px;
    line-height: 32px;
    display: inline-block;
    vertical-align: middle;
}

input[type="checkbox"].steven {
    height: 32px;
    width: 32px;
    float: right;
    vertical-align: middle;
}

input[type="checkbox"].steven:checked ~ .flex-inputs {
    flex-direction: column-reverse;
}

.input-group {
    margin-bottom: 4px;
    width: 100%;
    /*height: 64px;*/
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.input-group input {
    width: 66%;
    box-sizing: border-box;
    height: 2rem;
    -webkit-align-self: center;
                -ms-grid-row-align: center;
            align-self: center;
}

.input-group span {
    font-size: 1rem;
    -webkit-align-self: center;
                -ms-grid-row-align: center;
            align-self: center;
}

.diagram-container {
    width: 100%;
}


.stack-container {
    position: relative;
    top: 0;
    left: 0;
}

.stack-element {
    position: absolute;
    top:0;
    left:0;
}

#rooms {
    width: 100%;
    height: 100%;
}

#rooms-named {
    width: 100%;
    height: 100%;
    left:-1px;
    top: -1px;
}

#rooms-named path, #rooms-named polygon, #rooms-named rect {
    stroke: rgba(0,0,0,0);
    transition-property: stroke;
    transition-duration: 1s;
}

.header-group {
    width: calc(100% - 4rem);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem;
}

.header-group h2, .header-group a {
    display: inline-block;
}

.header-group h2 {
    margin: 0 0 1rem;
}

.header-group a {
    color: #24C6DC;
    font-weight: bold;
}

.username-group-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.username-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    margin: 0 auto;
}

.username {
    border-bottom: 1px solid #95989A;
    height: 2rem;
    width: 5.5rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #FFF;
    padding: 0 2px;
    margin: 0 2rem;
}


.username span {
    margin: 0 auto;
    width: auto;
    text-align: center;
    line-height: 2rem;
}

input[type="checkbox"] {
    margin: auto 0;
}

.button-group {
    margin: 0 2rem 1rem 2rem;
}

button {
    display: inline-block;
    padding: 0;
    height: 28px;
    width: 28px;
    vertical-align: bottom;
    -webkit-appearance: none;
}

button.red {
    background-color: #FF000F;
    color: #FFF;
    border: 1px solid #AF000A;
    border-radius: 4px;
}

button object {
    width: 18px;
    height: 18px;
}

button.green {
    background-color: #00B950;
    color: #FFF;
    border: 1px solid #008439;
    font-weight: bold;
}

button.update {
    border: none !important;
    background: none;
    color: #24C6DC;
    font-weight: bold;
    font-size: 16px;
    width: auto;
    margin-left: 0.5rem;
    font-family: "San Francisco Text", "SF UI Text",
        "Helvetica Neue", "Arial", sans-serif;
}

input[type="text"].lozenge {
    border: 1px solid #95989A;
    border-right-width: 0;
    height: 26px;
    margin: 0 0 0 1rem;
    padding: 0 0 0 4px ;
}

.lozenge.right {
    border-radius:  0 4px 4px 0 ;
}

.lozenge.left {
    border-radius: 4px 0 0 4px;
    border-right: none;
}

.icon {
    width: 18px;
    height: 18px;
    display: block;
    margin: auto;
    background-repeat: no-repeat;
}

.icon.trash {
    background-image: url(/static/trash.svg);
}

.icon.plus {
    background-image: url(/static/plus.svg);
}

@media all and (max-width: 850px) {
    .new-count-container {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .new-count {
        margin: 1rem auto;
        max-width: 100%;
        width: 95%;
    }
    .new-count input[type="submit"] {
        display: block;
    }
}

td input[type="tel"] {
    width: 20px;
}
/*
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}
*/