html, body {
    font-family: "San Francisco Display", "SF UI Display", Helvetica Neue, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

p, a {
    font-family: "San Francisco Text", "SF UI Text", Helvetica Neue, Arial, sans-serif;
}

.hero-bg {
    background: #24C6DC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top left, #24C6DC , #514A9D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top left, #24C6DC , #514A9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

nav {
    min-height: 42.4px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}

nav:not(.hero-nav) {
    background-color: #FFFFFF;
    border-bottom-width: 1px;
    border-bottom-color: #95989A;
    border-bottom-style: solid;
    margin-bottom: 2rem;
}

nav.hero-nav {
    background-color: rgba(255,255,255, 0.67);
    margin-bottom: 13%;
}

nav .buttons a {
    font-weight: 600;
    color: #24C6DC;
}

main.flexy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #000;
}

a {
    text-decoration: none;
}

.hero-bg main h2 {
    font-size: 2.5rem;
    margin: 1rem 3rem calc(10% + 2rem) 3rem;
    font-weight: bold;
    text-align: center;
}

.hero-bg main h3 {
    font-size: 1.5rem;
    margin: 1rem 3rem calc(10% + 2rem) 3rem;
    font-weight: 500;
    text-align: center;
}

main h2 {
    font-size: 1.5rem;
    margin: 1.5rem;
    margin-bottom: 2rem;
    text-align: left;
    font-weight: 600;
}

main .buttons {
    display: flex;
    justify-content: space-around;
}

.buttons a {
    margin: .5rem  1rem;
}

.secondaryButton {
    padding: .7rem 2rem;
    border: 2px white solid;
    border-radius: 5px;
    color: white;
}

.login {
    padding: .7rem 2rem;
    border: 2px white solid;
    background: rgba(0,0,0,0);
    border-radius: 5px;
    color: white;
}

.login:hover {
    background: white;
    color: #24C6DC;
    transition: background .2s, color .2s;
}

nav .login {
    background-color: #24C6DC;
    border: 2px #24C6DC solid;
}

nav .login:hover {
    background-color: rgba(69, 127, 202, 0);
    color: #24C6DC;
}

.recent-table {
    width: 98%;
    margin: 0 auto;
}

.recent-table th {
    border-bottom: 1px solid #95989A;
}

td, th {
    padding: .8rem .3rem;
}

td.numeric-data {
    text-align: right;
    padding-right: .8rem;
}

td:not(:last-child) {
    border-right: 1px solid #95989A;
}

th:not(:last-child) {
    border-right: 1px solid #95989A;
}

form input[type="submit"] {
    background-color: #24C6DC;
    padding: .7rem 1.5rem;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
}

.new-count-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    width: 98%;
    margin: 0 auto;
}

.new-count {
    max-width: 350px;
}

form input {
    font-family: "San Francisco Text", "SF UI Text", "Helvetica Neue", Arial, sans-serif;
}

div.col-2 {
    width: 49%;
    display: inline-block;
}

div.col-3 {
    width: 33%;
    display: inline-block;
}

div.col-23 {
    width: 66%;
    display: inline-block;
    }

div.col-4 {
    width: 25%;
    display: inline-block;
}

.flex-inputs {
    display: flex;
    align-items: center;
}

.flex-inputs div p {
    padding: 9px 0px;
}

.flex-inputs div input {
    width: calc(100% - 15px);
    margin-top: 2px;
    margin-bottom: 2px;
}

.new-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[name="1650"]:active, .1650 {
    border: 7px solid #F00;
    stroke: #F00;
}

.stack-container {
    position: relative;
    top: 0;
    left: 0;
}

.stack-element {
    position: absolute;
    top:0;
    left:0;
}

#rooms {
    width: 100%;
    height: 100%;
}

#rooms-named {
    width: 100%;
    height: 100%;
}

#rooms-named path {
    stroke: #F00;
}

.shadow-button {

}

.username-group-group {
    display: inline-block;
    width: auto;
    background-color: #95989A;
}
.username-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: flex-start;
    width: auto;
    padding: 0.6rem;
}

.username {
    border: 1px solid #95989A;
    height: 2rem;
    width: 5.5rem;
    display: flex;
    justify-content: center;
    background-color: #FFF;
}


.username span {
    margin: 0 auto;
    width: auto;
    text-align: center;
    line-height: 2rem;
}